.avatar {
    display: block;
    width: 100%;
    border-radius: 70%;
    margin-right: 30px;
    opacity: 1;
    object-fit: cover;
}

.avatar:hover {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
}